<div class="toolbar-container">
    <mat-toolbar class="toolbar">
        <button mat-button disabled>
            <mat-icon>archive</mat-icon>
            <span>Importar</span>
        </button>
        <button mat-button (click)="autofill()">
            <mat-icon>compare_arrows</mat-icon>
            <span>Auto!</span>
        </button>
        <button mat-button (click)="openDialog()">
            <mat-icon>transfer_within_a_station</mat-icon>
            <span>Manual</span>
        </button>
        <button mat-button (click)="applyDefault()">
            <mat-icon>autorenew</mat-icon>
            <span>Aplicar padrões</span>
        </button>
        <mat-form-field class="group-filter">
            <mat-select placeholder="Cliente" #selectClient>
                <mat-option>Todos</mat-option>
                <mat-option *ngFor="let item of clients$ | async" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="group-filter">
            <mat-select placeholder="Grupo" #selectGroup>
                <mat-option>Todos</mat-option>
                <mat-option *ngFor="let item of groups$ | async" [value]="item.groupCd">{{item.groupCd}}</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="spacer"></span>
        <button mat-button disabled>
            <mat-icon>unarchive</mat-icon>
            <span>Exportar</span>
        </button>
    </mat-toolbar>
</div>

<div class="table-container">
    <div class="example-container mat-elevation-z8">
        <div class="spinner-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="example-header">
            <mat-form-field>
                <input matInput placeholder="Pesquisar" (keydown)="searchKeyDown($event)">
                <mat-icon matSuffix class="pointer" (click)="ngOnInit()">search</mat-icon>
            </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
            <ng-container matColumnDef="isSelected">
                <mat-header-cell *matHeaderCellDef disableClear="true">Selecionar</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isSelected"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="barCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Cód Barras</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.barCode }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="groupCd">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Grupo</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.groupCd }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ncm">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">NCM</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.ncm }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cest">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">CEST</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.cest }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cst">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">CST</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.cst }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="pis">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">PIS</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.pis }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cofins">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">COFINS</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.cofins }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectedProductChanged(row)" (dblclick)="editItem(selectedProduct)"
                [ngClass]="getStyle(row)"></mat-row>
        </mat-table>
        <button mat-icon-button class="selected-all" matTooltip="Selecionar todos" (click)="selectAll()">
            <mat-icon aria-label="Example icon-button with a heart icon">check_box</mat-icon>
        </button>
        <mat-paginator class="atualizacao-paginator" [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>
<button class="fab-button" mat-fab color="primary" matTooltip="Adicionar novo produto" (click)="newItem()">
    <mat-icon>add</mat-icon>
</button>