<h2 mat-dialog-title>Auto preenchimento</h2>
<mat-dialog-content class="center">
  <mat-progress-bar [mode]="mode" [value]="value"></mat-progress-bar>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of changed">{{ item.name }}: {{ item.event }}</mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="changed" [disabled]="value < 100 && changed.length == 0">Salvar</button>
</mat-dialog-actions>