<div class="atualizao-container">
  <div class="spinner-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!-- PRODUCT LIST -->
  <div class="atualizao-list-container">
    <div class="text-center">
      <h2 class="mat-h2">Produtos</h2>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nome</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectedProductChanged(row)" [ngClass]="getStyle(row)"></mat-row>
    </mat-table>
    <mat-paginator class="atualizacao-paginator" [length]="resultsLength" [pageSize]="10" [hidePageSize]="true">
    </mat-paginator>
  </div>
  <!-- PRODUCT FORM -->
  <div class="atualizao-formulario-container">
    <div class="atualizao-formulario">
      <div class="text-center">
        <h2 class="mat-h2">Dados</h2>
      </div>
      <app-produto-formulario [setProduct]="selectedProduct"></app-produto-formulario>
    </div>
    <!-- ACTIONS -->
    <div class="atualizao-action-container">
      <button mat-raised-button class="dialog-btn" (click)="onPrevious()" [disabled]="!canPrevious()">
        <mat-icon>navigate_before</mat-icon>
        <span>Anterior</span>
      </button>
      <button mat-raised-button mat-dialog-close class="action-cancel">Cancelar</button>
      <span class="fill-remaining-space"></span>
      <mat-slide-toggle class="toggle-salvar" color="primary" [(ngModel)]="canSave" matTooltip="Salvar alterações ao clicar em 'Próximo'">Salvar</mat-slide-toggle>
      <button mat-raised-button class="dialog-btn" (click)="onNext()" [disabled]="!canNext()">
        <mat-icon>navigate_next</mat-icon>
        <span>Próximo</span>
      </button>
    </div>
  </div>
</div>