<form [formGroup]="form" novalidate>
  <div class="indicadores-container">
    <mat-form-field class="indicadores">
      <input matInput placeholder="Nome" name="name" formControlName="name">
      <mat-icon class="pointer" matTooltip="Web (Cosmos)" matSuffix (click)="searchByName()">search</mat-icon>
    </mat-form-field>
  </div>

  <div class="indicadores-container">
    <mat-form-field class="indicadores">
      <input matInput placeholder="Cód Barras" name="barCode" formControlName="barCode">
      <mat-icon class="pointer" matTooltip="Web (Cosmos)" matSuffix (click)="searchByCode(form.controls['barCode'].value)">search</mat-icon>
    </mat-form-field>
  </div>

  <div class="indicadores-container">
    <mat-form-field class="indicadores">
      <input matInput placeholder="NCM" name="ncm" formControlName="ncm" (input)="onNCmChanged(form.controls['ncm'].value)">
    </mat-form-field>
    <mat-form-field class="indicadores">
      <input matInput placeholder="CEST" name="cest" formControlName="cest">
    </mat-form-field>
    <mat-form-field class="indicadores">
      <input matInput placeholder="Grupo" name="groupCd" formControlName="groupCd">
    </mat-form-field>
  </div>

  <div class="indicadores-container">
    <mat-form-field class="indicadores">
      <input matInput placeholder="CST" name="cst" formControlName="cst">
    </mat-form-field>
    <mat-form-field class="indicadores">
      <input matInput placeholder="PIS" name="pis" formControlName="pis">
    </mat-form-field>
    <mat-form-field class="indicadores">
      <input matInput placeholder="COFINS" name="cofins" formControlName="cofins">
    </mat-form-field>
  </div>
</form>
<div class="indicadores-container">
  <div class="indicadores">
    <h4 class="mat-h4">Opções para indicadores de tributação:</h4>
    <mat-accordion>
      <mat-expansion-panel #ncmExpansion>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Web
          </mat-panel-title>
          <mat-panel-description>
            NCM e CEST no Cosmos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="searcher-container">
          <div class="searcher-item searcher-options-container">
            <mat-form-field>
              <mat-select #ncmSelect placeholder="Opções" [(ngModel)]="ncmItem" (change)="onNcmSelectedChanged()">
                <mat-option *ngFor="let item of ncmOptions$ | async" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="searcher-description">
              <p>{{ ncmSelected.description }}</p>
              <a *ngIf="ncmItem.url" [href]="ncmItem.url" target="_blank">"{{ ncmItem.name }}"</a>
            </div>
          </div>
          <div class="searcher-item searcher-img-container">
            <img class="searcher-img" [src]="ncmSelected.img" alt="Product Image" *ngIf="ncmSelected.img">
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel #cestExpansion>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Local
          </mat-panel-title>
          <mat-panel-description>
            CEST no próprio banco de dados
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="searcher-container">
          <div class="searcher-item searcher-options-container">
            <div class="indicadores-container">
              <mat-form-field class="indicadores">
                <input matInput placeholder="NCM" [(ngModel)]="cestTerm">
                <mat-icon class="pointer" matTooltip="Encurtar termo" matSuffix (click)="shortTerm()">remove</mat-icon>
                <mat-icon class="pointer" matTooltip="Pesquisar termo" matSuffix (click)="searchByNcm(cestTerm)">search</mat-icon>
              </mat-form-field>
              <mat-form-field class="indicadores">
                <mat-select #cestSelect placeholder="Opções" [(ngModel)]="cestSelected" (change)="onCestSelectedChanged()">
                  <mat-option *ngFor="let item of cestOptions$ | async" [value]="item">
                    {{ item.cest }} ({{ item.ncm }})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="searcher-description">
              <p>{{cestSelected.description}}</p>
              <small>{{cestSelected.annex}}</small>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
  </div>
</div>